<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Trip Report</ion-title>
  </ion-navbar>

  <ion-item style="background-color: #fafafa;">
    <ion-label>Select Vehicle</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name" itemTextField="Device_Name"
      [canSearch]="true" (onChange)="getTripdevice(datetimeStart, datetimeEnd, selectedVehicle)">
    </select-searchable>
  </ion-item>
  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">From Date</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeStart" (ionChange)="change(datetimeStart)"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;"></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">To Date</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd" (ionChange)="change1(datetimeEnd)"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;"></ion-datetime>
      </ion-label>
    </ion-col>
    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getTripReport(datetimeStart,datetimeEnd);"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>


<ion-content>
  <!-- <ion-row padding-left color="primary">
    <ion-col width-20>

      <ion-label style="font-size: 12px">From Date
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeStart" (ionChange)="change(datetimeStart)"
          style="padding: 7px 2px 0px 0px;"></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label style="font-size: 12px">To Date
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd" (ionChange)="change1(datetimeEnd)"
          style="padding: 7px 2px 0px 0px;"></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px;">
        <ion-icon ios="ios-search" md="md-search" style="text-align: right; font-size: 20px;margin-top: 7px;" (click)="getTripReport(datetimeStart,datetimeEnd);"></ion-icon>
      </div>
    </ion-col>
  </ion-row> -->

  <hr>
  <ion-list>
    <ion-item *ngFor="let tripdata of TripReportData">
      <ion-thumbnail item-end>
        <img src="assets/imgs/37484830-00d91c72-288a-11e8-8a47-2d0d630fb5fb.jpg">
      </ion-thumbnail>
      <h6>
        <ion-icon name="clock" style="color: gray;"></ion-icon>&nbsp;&nbsp;&nbsp;{{tripdata.Startdate}}{{tripdata.Startetime}}&nbsp;-&nbsp;{{tripdata.Endtime}}</h6>
      <br/>
      <ion-badge *ngIf="!tripdata.distance">0KM</ion-badge>
      <ion-badge *ngIf="tripdata.distance">{{tripdata.distance | number : '1.0-2'}}KM</ion-badge>
      <p style="font-size: 13px; margin-top: 2%;">
        <ion-icon name="pin" color="secondary" style="font-size: 13px;"></ion-icon>&nbsp;&nbsp;&nbsp;{{tripdata.startAddress}}</p>
      <p style="font-size: 13px;">
        <ion-icon name="pin" color="danger" style="font-size: 13px;"></ion-icon>&nbsp;&nbsp;&nbsp;{{tripdata.startAddress}}</p>
    </ion-item>
  </ion-list>
</ion-content>