<ion-list>
    <!-- <button ion-item (click)="close()">Close</button> -->
    <ion-list-header style="text-align: center;">
        Filter By
    </ion-list-header>
    <hr>
    <ion-item-group>
        <ion-item-divider color="light">Type</ion-item-divider>
        <div *ngIf="filterList.length > 0">
            <ion-item *ngFor="let member of filterList">
                <ion-label>{{member?.filterName || 'N/A'}}</ion-label>
                <ion-checkbox color="danger" (click)="selectMember(member)" [(ngModel)]="member.checked"></ion-checkbox>
            </ion-item>
        </div>
    </ion-item-group>
    <ion-item-group>
        <ion-item-divider color="light">Time</ion-item-divider>
        <div class="input-w">
            <label for="#your-input" class="leb2">From</label>
            <input type="date" id="your-input" [(ngModel)] ="modal.fromDate"/>
        </div>
        <div class="input-w">
            <label for="#your-input" class="leb1">To</label>
            <input type="date" id="your-input" [(ngModel)] ="modal.toDate"/>
        </div>
    </ion-item-group>



</ion-list>
<ion-row style="background-color: darkgray">
    <ion-col width-50 style="text-align: center;">
        <button ion-button clear small color="light" (click)="cancel()">Cancel</button>
    </ion-col>
    <ion-col width-50 style="text-align: center;">
        <button ion-button clear small color="light" (click)="applyFilter()">Apply Filter</button>
    </ion-col>
</ion-row>