<ion-header>

  <ion-navbar>
    <ion-title *ngIf="device">{{device.Device_Name}}</ion-title>
    <ion-title *ngIf="!device">View History</ion-title>
    <ion-buttons end>
      <div *ngIf="hideplayback">
        <ion-icon color="light" name="rewind" style="font-size:19px;margin-top:11px;margin-right: 17px" (click)="inter('slow')"></ion-icon>
        <ion-icon color="light" name="arrow-dropright-circle" style="font-size:24px;margin-top:10px;margin-right: 15px" class="play"
          *ngIf="!playing" (click)="Playback()"></ion-icon>
        <ion-icon color="light" name="pause" style="font-size:24px;margin-top:10px;margin-right: 15px" class="pause" *ngIf="playing"
          (click)="Playback()"></ion-icon>
        <ion-icon color="light" name="fastforward" style="font-size:19px;margin-top:11px;margin-right: 17px" (click)="inter('fast')"></ion-icon>

      </div>
    </ion-buttons>
  </ion-navbar>
  <ion-item *ngIf="showDropDown">
    <ion-label>{{SelectVehicle}}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name" itemTextField="Device_Name"
      [canSearch]="true" (onChange)="onChangedSelect(selectedVehicle)">
    </select-searchable>
  </ion-item>
  <ion-row>
    <ion-col width-50 padding-left class="col1">
      <ion-avatar item-start class="avtar">
        <img src="assets/imgs/clock.svg" align="left">
      </ion-avatar>
      <ion-label style="margin-top: 1px;">
        <span style="font-size: 11px">From Date</span>
        <ion-datetime displayFormat="DD/MM/YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeStart" (ionChange)="changeformat(datetimeStart)"
          style="font-size: 10px;"></ion-datetime>
        <!-- <ion-input type="datetime-local" [(ngModel)]="datetimeStart" (ionChange)="changeformat(datetimeStart)" style="font-size: 10px;"></ion-input> -->
      </ion-label>
    </ion-col>
    <ion-col width-50 class="col1">
      <ion-avatar item-start class="avtar">
        <img src="assets/imgs/clock.svg" align="left">
      </ion-avatar>
      <ion-label style="margin-top: 1px;">
        <span style="font-size: 11px">To Date</span>
        <ion-datetime displayFormat="DD/MM/YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd" (ionChange)="changeformat(datetimeEnd)"
          style="font-size: 10px;"></ion-datetime>
        <!-- <ion-input type="datetime-local" [(ngModel)]="datetimeEnd" (ionChange)="changeformat(datetimeStart)" style="font-size: 10px;"></ion-input> -->
      </ion-label>
    </ion-col>
    <ion-col ion-text text-right padding-right>
      <ion-icon ios="ios-search" md="md-search" style="font-size:30px;" (tap)="btnClicked(datetimeStart,datetimeEnd)"></ion-icon>
      <!-- <button ion-button small color="light" (click)="btnClicked(datetimeStart,datetimeEnd)">Show History</button> -->
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <div id="map_canvas"></div>
</ion-content>
<ion-footer class="footSty">

  <ion-row style="background-color: #dfdfdf; padding: 0px !important;">
    <ion-col width-50 style="padding: 0px">
      <p style="color:black;font-size:14px; text-align:center;">
        <ion-icon name="time" style="color:#33cd5f;font-size:15px;"></ion-icon>&nbsp;
        <span *ngIf="updatetimedate">{{updatetimedate}}&nbsp;</span>
        <span *ngIf="!updatetimedate">0:0&nbsp;</span>
      </p>
    </ion-col>
  
    <ion-col width-50 style="padding: 0px">
      <p style="color:black;font-size:14px;text-align:center;">
        <ion-icon name="speedometer" style="color:#cd4343"></ion-icon>&nbsp;
        <span *ngIf="speedMarker">{{speedMarker}}&nbsp;Km/hr</span>
        <span *ngIf="!speedMarker">0&nbsp;Km/hr</span>
      </p>
    </ion-col>
  </ion-row>

  <ion-toolbar>
    <ion-row no-padding>
      <ion-col width-50 style="text-align: center; border-right: 1px solid white; padding: 0px !important">
        <p style="color: white; margin:0px; padding:0px" *ngIf="data2">{{data2.Distance}} km</p>
        <p style="color: white; margin:0px; padding:0px" *ngIf="!data2">0 Km</p>
        <p style="color: white; margin:0px; padding:0px">
          Total Distance
        </p>

      </ion-col>
  
      <ion-col width-50 style="text-align: center; padding: 0px !important">
        <p style="color:#ffffff; margin:0px; padding:0px" *ngIf="data2">{{data2.AverageSpeed}}</p>
        <p style="color:#ffffff; margin:0px; padding:0px" *ngIf="!data2">0 (Km/h)</p>
        <p style="color:#ffffff; margin:0px; padding:0px">Average Speed</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>