page-profile {
    .div {
        padding-top: 20px;
        text-align: center;
        img {
            height: 90px;
            width: 90px;
            border-radius: 5px;
        }
    }
    .ic {
        font-size: 18px;
        color: gray;
        margin: 0px;
        padding: 0px;
    }
}
