page-edit-route-details {
    .logitem {
        background-color: transparent;
        padding-bottom: 5px;

        // ion-input {
        //     color: #ffffff;
        //     ::placeholder {
        //         color: #ffffff;
        //     }
        // }
    }
    .logitem1 {
        background-color: transparent;

        p { 
            color: #ea6153;
            margin: 0;
            padding: 0;
        }
    }
}