<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Routes Details</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="createRoute()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
  <!-- <ion-searchbar placeholder="Search..." (ionInput)="searchUser($event)"></ion-searchbar> -->
</ion-header>


<ion-content>

  <ion-list>
    <ion-item *ngFor="let routes of routesdata">
      <ion-thumbnail item-start>
        <img src="assets/imgs/icon_1024.png">
      </ion-thumbnail>
      <h2>{{routes.name}}</h2>
      <!-- <br/> -->
      <!-- <p *ngIf="routes.source" ion-text text-wrap>
        <ion-icon name="pin" color="secondary"></ion-icon>&nbsp;&nbsp;{{routes.source}}
      </p> -->
      <p *ngIf="routes.source" class="overme">
        <ion-icon name="pin" color="secondary"></ion-icon>&nbsp;{{routes.source}}
      </p>
      <!-- <br/> -->
      <p *ngIf="routes.destination" class="overme">
        <ion-icon name="pin" color="danger"></ion-icon>&nbsp;{{routes.destination}}
      </p>
      <!-- <p *ngIf="routes.destination" ion-text text-wrap>
        <ion-icon name="pin" color="danger"></ion-icon>&nbsp;&nbsp;{{routes.destination}}
      </p> -->

      <p *ngIf="!routes.source">N/A</p>
      <p *ngIf="!routes.destination">N/A</p>
      <ion-row item-end>
        <ion-col width-10>
          <!-- <div style="margin-top:10%;">
            <ion-icon name="create" style="margin-left:10%;text-align: right;" (click)="openroute_edit(routes)"></ion-icon>
          </div> -->
          <div style="margin-top:100%;">
            <ion-icon name="trash" color="danger" style="margin-right:15%;text-align: right;" (click)="DelateRoute(routes)"></ion-icon>
          </div>


        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

</ion-content>