
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Summary Report</ion-title>
  </ion-navbar>

  <ion-item style="background-color: #fafafa;">
      <ion-label>Select Vehicle</ion-label>
      <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name" itemTextField="Device_Name"
        [canSearch]="true" (onChange)="getSummaarydevice(datetimeStart, datetimeEnd, selectedVehicle)">
      </select-searchable>
    </ion-item>

    <ion-row padding-left padding-right style="background-color: #fafafa;">
        <ion-col width-20>
          <ion-label ><span style="font-size: 13px">From Date</span>
            <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeStart" (ionChange)="change(datetimeStart)"
              style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;"></ion-datetime>
          </ion-label>
        </ion-col>
    
        <ion-col width-20>
          <ion-label ><span style="font-size: 13px">To Date</span>
            <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd" (ionChange)="change1(datetimeEnd)"
              style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;"></ion-datetime>
          </ion-label>
        </ion-col>
    
        <ion-col width-20>
          <div style="margin-top: 9px; float: right">
            <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getSummaryReport(datetimeStart,datetimeEnd);"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
</ion-header>


<ion-content >

    <!-- <ion-card *ngFor="let item of summaryReportData">

        <ion-row>
            <ion-col col-8>
           <p style="font-size:16px;">{{item.Device_Name}}</p>
           </ion-col>
  
            <ion-col col-4>
           <p style="text-align:left;font-size: 14px;">
            <span style="color:gray;">Trips</span>&nbsp;&nbsp;<span style="color: #fd39e3;">{{item.tripCount}}</span></p>
         </ion-col>
        
         
            </ion-row>
        <br/>
        <ion-row>
            <ion-col style="margin-top:-5%;">
           
    
     
        <ion-row style="padding:0px!important;" style="padding:0px!important;" >
           <p style="text-align:left;font-size: 14px;"><span style="color:#009688;  font-size: 16px;font-weight: 450;">
              
              <ion-icon ios="ios-pin" md="md-pin" style="color:#33c45c;font-size:15px;"></ion-icon>
              &nbsp;</span>&nbsp;&nbsp;<span *ngIf="item.StartLocation"></span>
              <span *ngIf="!item.StartLocation">&nbsp;&nbsp;&nbsp;&nbsp;N/A</span
                ><span style="color:gray;font-size:12px">{{item.StartLocation}}</span></p>
        </ion-row >
  
        <ion-row style="padding:0px!important;" style="padding:0px!important;" >
            <p style="text-align:left;font-size: 14px;"><span style="color:#009688;  font-size: 16px;font-weight: 450;">
                <ion-icon ios="ios-pin" md="md-pin" style="color:#e14444;font-size:15px;"></ion-icon>
                &nbsp;</span>&nbsp;&nbsp;<span *ngIf="item.EndLocation"></span>
                <span *ngIf="!item.EndLocation">&nbsp;&nbsp;&nbsp;&nbsp;N/A</span>
                <span style="color:gray;font-size:12px">{{item.EndLocation}}</span></p>
        </ion-row>
        
       </ion-col>
       
        </ion-row>

        <ion-row>
            <ion-col>
                <p style="color:gray;font-size:11px; margin-top: -9px; text-align:center;font-weight: 400;">
                    <span *ngIf="item.ignOn">{{item.ignOn}}</span>
                    <span *ngIf="!item.ignOn">0.0</span>&nbsp;</p>
                <p style="color:#53ab53;margin-left:12%;font-size:11px;font-weight: 450;">Total Running Time</p>
            </ion-col>
            <ion-col>
                <p style="color:gray;font-size:11px; margin-top: -9px; text-align:center;font-weight: 400;">
                    <span *ngIf="item.ignOff">{{item.ignOff}}</span>
                    <span *ngIf="!item.ignOff">0.0</span>&nbsp;</p>
                <p style="color:#5dd17f;text-align:center;font-size: 11px;color:red;font-weight: 450;">Total Idle/Stop Time</p>
            </ion-col>
            <ion-col center text-center>
                <p style="color:gray;font-size:11px; margin-top: -9px; text-align:center;font-weight: 400;">
                    <span *ngIf="item.distance">{{item.distance  | number : '1.0-2'}}</span>
                    <span *ngIf="!item.distance">0.0</span>&nbsp;</p>
                <p style="text-align:center;font-size: 11px;color:#11c1f3;font-weight: 450;">Total KM</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <p style="color:gray;font-size:11px; margin-top: -9px; text-align:center;font-weight: 400;">
                    <span *ngIf="item.overspeeds">{{item.overspeeds}}</span>
                    <span *ngIf="!item.overspeeds">0.0</span>&nbsp;</p>
                <p style="color:#009688;margin-left:14%;font-size: 11px;font-weight: 450;">Overspeeding</p>
            </ion-col>
            <ion-col>
                <p style="color:gray;font-size:11px; margin-top: -9px; text-align:center;font-weight: 400;">
                    <span *ngIf="item.routeViolations">{{item.routeViolations }}</span>
                    <span *ngIf="!item.routeViolations">0.0</span>&nbsp;</p>
                <p style="color:#009688;    margin-left:14%;font-size: 11px;font-weight: 450;">Route Voilation</p>
            </ion-col>
            <ion-col center text-center>
                <p style="color:gray;font-size:11px; margin-top: -9px; text-align:center;font-weight: 400;">
                    <span *ngIf="item.avgSpeed">{{item.avgSpeed  | number : '1.0-2'}}</span>
                    <span *ngIf="!item.avgSpeed">0.0</span>&nbsp;</p>
                <p style="color:#009688;margin-left:0%;font-size: 11px;font-weight: 450;">Avg Speed</p>
            </ion-col>
        </ion-row>
    </ion-card> -->

    <ion-list>
            <ion-card *ngFor="let item of summaryReportData">
    
                <ion-item style="border-bottom: 2px solid #dedede;">
                        <ion-thumbnail item-start>
                     <img src="assets/imgs/car_red_icon.png" >
                     </ion-thumbnail>
                    <!-- <ion-thumbnail item-start>
                       
                        <img src="assets/imgs/car_red_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/car_green_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/car_grey_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC==null))">
                                    
                        <img src="assets/imgs/truck_icon_red.png"  *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/truck_icon_green.png"  *ngIf="(item.device.iconType == 'truck')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/truck_icon_grey.png"  *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/bike_red_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/bike_green_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/bike_grey_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/jcb_red.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/jcb_green.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/jcb_gray.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/bus_red.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/bus_green.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/bus_gray.png" *ngIf="((item.device.iconType == 'bus')&&( !item.device.last_ACC ))">
                    </ion-thumbnail>
    
                    <ion-thumbnail item-start *ngIf="item.device != null && item.device.iconType == null">
                        <img src="assets/imgs/car_red_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/car_green_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/car_grey_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/truck_icon_red.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/truck_icon_green.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/truck_icon_grey.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/bike_red_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/bike_green_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/bike_grey_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/jcb_red.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/jcb_green.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/jcb_gray.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/bus_red.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/bus_green.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/bus_gray.png" *ngIf="((item.device.iconType == 'bus')&&( !item.device.last_ACC ))">
                    </ion-thumbnail>
    
                    <ion-thumbnail item-start *ngIf="item.device == null && item.device.iconType != null">
                        <img src="assets/imgs/car_red_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/car_green_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/car_grey_icon.png" *ngIf="((item.device.iconType == 'car')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/truck_icon_red.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/truck_icon_green.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/truck_icon_grey.png" *ngIf="((item.device.iconType == 'truck')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/bike_red_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/bike_green_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/bike_grey_icon.png" *ngIf="((item.device.iconType == 'bike')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/jcb_red.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/jcb_green.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/jcb_gray.png" *ngIf="((item.device.iconType == 'jcb')&&(item.device.last_ACC==null))">
    
                        <img src="assets/imgs/bus_red.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='0'))">
                        <img src="assets/imgs/bus_green.png" *ngIf="((item.device.iconType == 'bus')&&(item.device.last_ACC=='1'))">
                        <img src="assets/imgs/bus_gray.png" *ngIf="((item.device.iconType == 'bus')&&( !item.device.last_ACC ))">
    
                    </ion-thumbnail> -->
                    <p style="margin-left: 6px;color:black;font-size:16px;">{{item.Device_Name }}</p>
                    
                    <ion-row style="margin-top:6%;">
    
                        <ion-col>
                            <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight:400;">
                                <span *ngIf="item.ignOn">{{item.ignOn}}</span>
                                <span *ngIf="!item.ignOn">00.00</span>&nbsp;</p>
                            <p style="color:#53ab53;margin-left:0%;font-size:11px;font-weight: 350;"> Running </p>
                        </ion-col>
                        <ion-col>
                            <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight:400;">
                                <span *ngIf="item.ignOff">{{item.ignOff}}</span>
                                <span *ngIf="!item.ignOff">00.00</span>&nbsp;</p>
                            <p style="color:#5dd17f;text-align:left;font-size: 11px;color:red;font-weight:350;">Stop</p>
                        </ion-col>
                        <ion-col center text-center>
                            <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight: 400;">
                                <span *ngIf="item.distance">{{item.distance  | number : '1.0-2'}}</span>
                                <span *ngIf="!item.distance">00.00</span>&nbsp;</p>
                            <p style="text-align:left;font-size: 11px;color:#11c1f3;font-weight:350;">Total KM</p>
                        </ion-col>
                    </ion-row>
                    <ion-row style="margin-top: 2%;">
                        <ion-col>
                            <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight: 400;">
                                <span *ngIf="item.overspeeds">{{item.overspeeds}}</span>
                                <span *ngIf="!item.overspeeds">00.00</span>&nbsp;</p>
                            <p style="color:#009688;margin-left:0%;font-size: 11px;font-weight: 350;">Overspeeding</p>
                        </ion-col>
                        <ion-col>
                            <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight: 400;">
                                <span *ngIf="item.routeViolations">{{item.routeViolations}}&nbsp;Km/h</span>
                                <span *ngIf="!item.routeViolations">00.00</span>&nbsp;</p>
                            <p style="color:#009688;    margin-left:0%;font-size: 11px;font-weight: 350;">Route Voilation</p>
                        </ion-col>
                        <ion-col>
                            <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight:400;">
                                <span *ngIf="item.avgSpeed">{{item.avgSpeed  | number : '1.0-2'}}&nbsp;Km/h</span>
                                <span *ngIf="!item.avgSpeed" >00.00</span>&nbsp;</p>
                            <p style="color:#009688;margin-left:0%;font-size: 11px;font-weight: 350;">Avg Speed</p>
                        </ion-col>
                    </ion-row>

                    <ion-row>
      
                            <p style="font-size: 14px;">
                              <span >
                                <ion-icon ios="ios-pin" md="md-pin" style="color:#33c45c;font-size:17px;margin-left:5px;
                                "></ion-icon>&nbsp;</span>
                              <span *ngIf="item.StartLocation" style="color:gray;font-size:11px;font-weight: 400;"></span>
                              <span *ngIf="!item.StartLocation" style="color:gray;font-size:11px;font-weight: 400;">&nbsp;&nbsp;N/A</span>
                              <span style="color:gray;font-size:11px;font-weight: 400;"  text-nowrap >{{item.StartLocation}}</span>
                            </p>
            
                        </ion-row>
                    <ion-row>
      
                            <p style="font-size: 14px;">
                              <span >
                                <ion-icon ios="ios-pin" md="md-pin" style="color:#e14444;font-size:17px;margin-left:5px;
                                "></ion-icon>&nbsp;</span>
                              <span *ngIf="item.EndLocation" style="color:gray;font-size:11px;font-weight: 400;"></span>
                              <span *ngIf="!item.EndLocation" style="color:gray;font-size:11px;font-weight: 400;">&nbsp;&nbsp;N/A</span>
                              <span style="color:gray;font-size:11px;font-weight: 400;"  text-nowrap >{{item.EndLocation}}</span>
                            </p>
            
                        </ion-row>
    
                </ion-item>
    
            </ion-card>
        </ion-list>

</ion-content>
